<h1>ログインアプリ</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->

  <h4> メールアドレス： <%= current_user.email %> </h4>
 <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>

   <!-- 掲示板一覧 -->
   <div class="row">
     <div class="col-12">
       <div class="row">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
         <% if @events.present? %>
           <%= render @events %>
         <% else %>
           <p><%= t('.投稿は何もありません') %></p>
         <% end %>
       </div>
     </div>
      <%= link_to "イベント作成", new_event_path, class: 'post' %>
   </div>