<!DOCTYPE html>
<html>
  <head>
    <title>Groupen</title>
  <div class="menu-container">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-btn">
      <span class="hamburger"></span>
    </label>
    <ul class="menu">
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "プロフィール", user_profile_path(current_user) %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
